.assistance
  &-block
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: auto
    margin-bottom: 60px
    &__item
      background: $secondary
      max-width: 370px
      height: 410px
      display: flex
      flex-direction: column
      justify-content: space-between
      margin: auto
      margin-top: 60px
    &__text
      display: block
      font-size: 16px
      margin: 23px 25px
      line-height: 1.4
      max-width: 285px
      +reg
      & b 
        +bold
    &__image
      width: 370px
      height: 270px
      display: block
      vertical-align: bottom
@media (max-width: 567px)
  .assistance
    padding-bottom: 0
    &-block
      &__item
        width: 272px
        height: 300px
        margin-top: 30px
      &__text
        font-size: 12px
        line-height: 16px
        margin: 20px 15px
      &__image
        max-width: 260px
        height: 198px
  