.footer
  position: relative
.map
  width: 50%
  height: 640px  
  position: absolute
  left: 0
  top: 0
.contacts
  display: flex
  flex-direction: column
  flex-basis: 50%
  padding-left: 215px
  padding-top: 60px
  &-block
    display: flex
    justify-content: flex-end
  &__title
    +bold
    font-size: 24px
    line-height: 1.4
    margin-bottom: 80px 
    width: 100%
    max-width: 320px
  &-list
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding: 0
    list-style-type: none
    &__item
      margin-bottom: 35px
    &__icon
      vertical-align: top
      display: inline-block
      margin-right: 25px
      font-size: 22px
      color: $main-color
    &__text
      +reg
      display: inline-block
      font-size: 16px
      max-width: 150px
      line-height: 1.4
      b
        +bold
      a
        +bold
        text-decoration: none
        color: $text-color
@media (max-width:768px)
  .footer-wpar
    display: flex
    flex-direction: column-reverse
  .map
    position: relative
    width: 100%
    margin: auto
    min-height: 70%
  .footer-container
    width: 100%
    margin: auto
    height: 30%
  .contacts
    margin: auto
    padding-left: 0
    padding-top: 30px
    flex-basis: 100%
    &__title 
      margin: auto
      margin-bottom: 40px
      width: 100%
      font-size: 20px
    &-list
      margin: auto
  .contacts-list
    &:last-child 
    margin-bottom: 60px
@media (max-width: 576px)
  .contacts__title
    max-width: 270px
