.portfolio
  background: $secondary url('../img/portfolio/portfolio-bg.jpg') repeat-y center left
  background-size: 50%
  &__title
    
    margin: auto
    margin-bottom: 90px
  &-arrows
    margin: auto
    margin-top: 68px
    width: 120px
    display: flex 
    justify-content: space-between
    flex-direction: row
    flex-wrap: no-wrap
    &:hover
      cursor: pointer
  &__arrow
    width: 45px
    height: 19px
  &-slider
    &__image
      margin: auto
@media (max-width: 567px)
  .portfolio-slider__image
    max-width: 277px 
      
      
      
