@font-face {
  font-family: 'Museo Sans Regular';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #333333;
  font-family: 'Museo Sans Regular', sans;
  font-weight: 300; }

#go-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 50%;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  border: 0;
  -webkit-box-shadow: 0 0 30px 10px #555555;
          box-shadow: 0 0 30px 10px #555555;
  padding: 0;
  background-color: 0;
  opacity: 0.25;
  -webkit-transform: 0.4s;
          transform: 0.4s; }
  #go-top:hover {
    opacity: 0.8; }

.fa-arrow-up {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #333333;
  cursor: pointer; }

section {
  padding: 90px 0; }

.section {
  background-color: #f5f5f5; }
  .section__title {
    font-size: 24px;
    font-family: 'Museo Sans Bold', sans;
    font-weight: 800; }
  .section__subtitle {
    font-size: 16px;
    font-family: 'Museo Sans Regular', sans;
    font-weight: 300; }

.input {
  padding: 20px 26px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .input:focus {
    border: 1px solid #f0a010; }

img {
  width: 100%; }

.container {
  margin: auto;
  width: 95%;
  max-width: 1170px; }

.button {
  background-color: #ffd200;
  border: 0;
  padding: 18px 30px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .button:hover {
    background-color: #ffdb33;
    cursor: pointer; }

@media (max-width: 1200px) {
  .container {
    width: 98%;
    max-width: 940px;
    margin: auto; } }

@media (max-width: 992px) {
  .container {
    width: 98%;
    max-width: 720px; } }

@media (max-width: 768px) {
  section {
    padding: 50px 0; }
  .container {
    width: 98%;
    max-width: 544px; } }

@media (max-width: 567px) {
  section {
    padding: 30px 0; }
  .container {
    width: 277px; }
  .button {
    font-size: 10px;
    padding: 14px 20px; } }

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0; }

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.navbar__address {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 400;
  text-align: right; }

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'Museo Sans Bold', sans;
  font-weight: 800; }

.navbar__button {
  margin-left: 30px; }

@media (max-width: 567px) {
  .navbar-block {
    padding: 17px 0; }
  .navbar__contacts {
    display: none; }
  .navbar__logo img {
    width: 91px; } }

.hero {
  background-color: #f5f5f5; }
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    padding-right: 90px; }
  .hero__title {
    font-family: 'Museo Sans Bold', sans;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px; }
  .hero__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 65px;
    margin-top: 0;
    margin-bottom: 25px; }
  .hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .hero-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px; }
    .hero-item:last-child {
      margin-bottom: 0; }
    .hero-item__image {
      width: 40px;
      height: 40px;
      border: 2px solid #ffd200;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .hero-item__img {
      width: 20px;
      height: 20px; }
    .hero-item__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      font-weight: 400;
      align-items: center;
      margin-left: 25px;
      max-width: 250px; }

@media (max-width: 1200px) {
  .hero-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hero-text {
    padding-right: 10px; }
  .hero-img {
    max-width: 40%; } }

@media (max-width: 992px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hero-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    padding-bottom: 20px;
    text-align: center; }
  .hero-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 300px; }
  .hero-item {
    min-width: 320px; }
    .hero-item__text {
      text-align: left; }
  .hero-img {
    max-width: 100%; } }

@media (max-width: 768px) {
  .hero-text {
    padding-right: 0; } }

@media (max-width: 567px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero-text {
    width: 95%;
    text-align: left;
    padding-right: 0;
    padding-bottom: 10px; }
  .hero__title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px; }
  .hero__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 20px; }
  .hero-item {
    width: auto;
    margin-bottom: 20px; }
    .hero-item__text {
      padding-right: 15px;
      font-size: 12px;
      font-weight: 40px; }
  .hero-img__img {
    max-width: 300px; } }

.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative; }
  .offer:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff; }
  .offer-block {
    position: relative;
    width: 50%;
    max-width: 510px;
    padding-right: 90px; }
  .offer__title {
    display: block;
    line-height: 35px;
    margin-bottom: 24px;
    max-width: 370px; }
  .offer__subtitle {
    display: block;
    margin-bottom: 30px;
    max-width: 300px; }
  .offer__form {
    max-width: 100%; }
  .offer__input {
    margin-bottom: 30px; }
    .offer__input:first-child {
      margin-right: 10px; }
  .offer__button {
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%; }
  .offer__text {
    display: inline-block;
    width: 200px; }
    .offer__text b {
      font-family: 'Museo Sans Bold', sans;
      font-weight: 800; }
  .offer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

@media (max-width: 1200px) {
  .offer-block {
    padding-right: 15px; } }

@media (max-width: 992px) {
  .offer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .offer__desc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .offer__text {
    margin-right: 70px; }
    .offer__text:first-child {
      margin-bottom: 10px; }
  .offer__input:first-child {
    margin-right: 0; } }

@media (max-width: 768px) {
  .offer {
    background: #ffffff; }
    .offer:before {
      background: #ffffff; }
    .offer-block {
      padding: 0;
      width: 100%;
      margin: auto; }
    .offer__text {
      width: 85%; } }

@media (max-width: 567px) {
  .offer-block {
    padding: 0; }
  .offer__text {
    width: 80%;
    margin-right: 0; }
    .offer__text:first-child {
      margin-right: 0; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  overflow: hidden; }
  .modal-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal-dialog {
    margin: auto;
    width: 90%;
    min-width: 280px;
    background-color: #ffffff;
    position: relative;
    padding: 40px; }
    .modal-dialog__close {
      position: absolute;
      margin: 5px 10px;
      top: 0;
      right: 0;
      cursor: pointer;
      font-size: 22px;
      line-height: 22px; }
/*# sourceMappingURL=style.css.map */