body {
  color: #333333;
  font-family: sans-serif; }

img {
  width: 100%; }

.container {
  margin: auto;
  width: 95%;
  max-width: 1170px; }

.button {
  background-color: #ffd200;
  border: 0;
  padding: 18px 30px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400; }

@media (max-width: 1200px) {
  .container {
    width: 98%;
    max-width: 940px;
    margin: auto; } }

@media (max-width: 992px) {
  .container {
    width: 98%;
    max-width: 720px; } }

@media (max-width: 768px) {
  .container {
    width: 98%;
    max-width: 544px; } }

@media (max-width: 567px) {
  .container {
    width: 277px; }
  .button {
    font-size: 10px;
    padding: 14px 20px; } }

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0; }

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.navbar__address {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 400;
  text-align: right; }

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none; }

.navbar__button {
  margin-left: 30px; }

@media (max-width: 567px) {
  .navbar-block {
    padding: 17px 0; }
  .navbar__contacts {
    display: none; }
  .navbar__logo img {
    width: 91px; } }

.hero {
  background-color: #f5f5f5; }
  .hero-block {
    padding: 45px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    padding-right: 110px; }
  .hero__title {
    font-size: 41px;
    font-weight: 600;
    margin-top: 40px; }
  .hero__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 65px;
    margin-bottom: 25px; }
  .hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .hero-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px; }
    .hero-item__image {
      width: 40px;
      height: 40px;
      border: 2px solid #ffd200;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .hero-item__img {
      width: 20px;
      height: 20px; }
    .hero-item__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      font-weight: 400;
      align-items: center;
      margin-left: 25px;
      max-width: 250px; }

@media (max-width: 1200px) {
  .hero-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hero-text {
    padding-right: 10px; }
  .hero-img {
    max-width: 40%; } }

@media (max-width: 992px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hero-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    padding-bottom: 20px;
    text-align: center; }
  .hero-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 300px; }
  .hero-item {
    min-width: 320px; }
    .hero-item__text {
      text-align: left; }
  .hero-img {
    max-width: 100%; } }

@media (max-width: 768px) {
  .hero-text {
    padding-right: 0; } }

@media (max-width: 567px) {
  .hero-block {
    padding-top: 40px;
    min-width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero-text {
    text-align: left;
    padding-right: 0;
    padding-bottom: 10px; }
  .hero__title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px; }
  .hero__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 20px; }
  .hero-item {
    width: auto;
    margin-bottom: 20px; }
    .hero-item__text {
      padding-right: 15px;
      font-size: 12px;
      font-weight: 40px; }
  .hero-img__img {
    max-width: 300px; } }
/*# sourceMappingURL=style.css.map */